## Alpha vantage API from alpha vantage

In [5]:
from alpha_vantage.timeseries import TimeSeries

In [6]:
api_key = "H456ZLCOCHH7CH10"

In [7]:
ts = TimeSeries(key=api_key, output_format="pandas")
ts

In [8]:
data =ts.get_daily('AAPL')
data

(            1. open  2. high    3. low  4. close   5. volume
 date
 2024-04-05  169.590  170.390  168.9500    169.58  41975776.0
 2024-04-04  170.290  171.920  168.8200    168.82  53355055.0
 2024-04-03  168.790  170.680  168.5800    169.65  45571129.0
 2024-04-02  169.080  169.340  168.2302    168.84  49013991.0
 2024-04-01  171.190  171.250  169.4750    170.03  43772506.0
 ...             ...      ...       ...       ...         ...
 2023-11-16  189.570  190.960  188.6500    189.71  54412915.0
 2023-11-15  187.845  189.500  187.7800    188.01  53790499.0
 2023-11-14  187.700  188.110  186.3000    187.44  60108378.0
 2023-11-13  185.820  186.030  184.2100    184.80  43627519.0
 2023-11-10  183.970  186.565  183.5300    186.40  66177922.0

 [100 rows x 5 columns],
 {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2024-04-05',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'})

In [9]:
data[0]

            1. open  2. high    3. low  4. close   5. volume
date
2024-04-05  169.590  170.390  168.9500    169.58  41975776.0
2024-04-04  170.290  171.920  168.8200    168.82  53355055.0
2024-04-03  168.790  170.680  168.5800    169.65  45571129.0
2024-04-02  169.080  169.340  168.2302    168.84  49013991.0
2024-04-01  171.190  171.250  169.4750    170.03  43772506.0
...             ...      ...       ...       ...         ...
2023-11-16  189.570  190.960  188.6500    189.71  54412915.0
2023-11-15  187.845  189.500  187.7800    188.01  53790499.0
2023-11-14  187.700  188.110  186.3000    187.44  60108378.0
2023-11-13  185.820  186.030  184.2100    184.80  43627519.0
2023-11-10  183.970  186.565  183.5300    186.40  66177922.0

[100 rows x 5 columns]

In [10]:
data2 = data[0]

In [11]:
data2.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [13]:
data2['4. close'].to_frame()

            4. close
date
2024-04-05    169.58
2024-04-04    168.82
2024-04-03    169.65
2024-04-02    168.84
2024-04-01    170.03
...              ...
2023-11-16    189.71
2023-11-15    188.01
2023-11-14    187.44
2023-11-13    184.80
2023-11-10    186.40

[100 rows x 1 columns]